@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;700&family=Orelega+One&display=swap');

#intro {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  text-align: left;
}

.intro-section {
  height: 100%;
  float: left;
  padding-top: 15%;
  padding-left: 100px;
}

#home-img {  
  padding-top: 50px;
  width: 120%;
}

#name {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 700;
}

#intro-text {
  font-size: 30px;
  margin-bottom: 16px;
}

#location {
  margin-bottom: 16px;
}

#coming-soon {
  font-size: 30px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  opacity: 60%;
}

@media (max-width:960px) {
  #intro {
    height: 100vh;
    height: 100% !important;
  }

  #home-img {
    padding: 0px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .intro-section {
    padding: 0px;
  }

  #name {
    font-size: 54px;
  }

  #intro-text {
    font-size: 18px;
  }

  #location {
    padding: 0px;
    font-size: 14px !important;
  }

  #coming-soon {
    font-size: 20px;
    margin-top: 16px;
  }
}

@media (max-width:600px) {
  #home-img {
    padding-top: 20px;
  }
}