.nav-link {
  height: 100px;
  margin-top: 10px;
  margin-right: 100px;
  font-size: 16px;
  color: #595959;
  font-weight: 300;
}

/* #nav {
  transform: translateY(30px);
} */

.nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(38 38 38);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.nav-link:not(#resume-btn):hover:after { 
  transform: scaleX(1); 
}

.nav-link:hover { 
  color: rgb(38 38 38);  
}

.navbar {
  position: 'fixed'
}

#nav {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
}

@media (max-width: 900px) {
  #nav {
    display: none;
  }
}