.nav-link {
  height: 5px;
  margin-top: 10px;
  margin-right: 100px;
  font-size: 16px;
  color: #c4c4c4;
  font-weight: 300;
}

.nav-link:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(38 38 38);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.nav-link:not(#resume-btn):hover:after { 
  transform: scaleX(1); 
}

.nav-link:hover { 
  color: rgb(38 38 38);  
}